@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import "styles/reset.scss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  line-height: 1.5em;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
