@import "styles/mixins.scss";
@import "styles/variables.scss";

.list {

    color: #8395a7;
    width: 33%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: #ee5253;
      cursor: pointer;
      color: $dark-background;
    }

    &--selected {
      background-color: darken($white, 5%);
      color: $dark-background;

      &:hover {
        background-color: darken($white, 5%);
      }
    }

    & p {
      position: relative;
      padding: 5px;
      transition: ease-in-out;
    }
 
}