@import "../../../styles/mixins.scss";

.campaign-list-item {
  color: #afafaf;
  @include border-radius(2px);
  list-style: none;
  margin-bottom: 10px;
  padding: 10px 10px;
  // border-bottom: 1px dotted rgb(199, 199, 199);
  border-left: 3px solid rgb(22, 27, 37);
  display: flex;
  cursor: pointer;

  &:hover {
    color: white;
    background: #25292f;
    border-left: 3px solid white;
  }

  .campaign-list-picture {
    margin-right: 10px;
    flex-basis: 50px;
    min-width: 50px;
    // border: 1px solid black;
    div {
      height: 50px;
      border: 2px solid #333c4e;
      @include border-radius(50%);
    }
  }

  .campaign-list-user {
    // border: 1px solid black;
    width: 100%;
    .campaign-list-user-name {
      display: flex;
      margin-right: 10px;
      font-weight: 600;
      justify-content: space-between;
      span {
        float: right;
        font-weight: 300;
        font-size: 0.8em;
      }
    }

    .campaign-list-campagin-name {
      font-size: 0.8em;
    }
  }
}

.campaign-list-item--selected {
  color: white;
  background: rgb(59, 64, 72);
  border-left: 3px solid white;
  .campaign-list-picture div {
    border: 2px solid #405173;
  }
}
